@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{ font-family: "Montserrat", sans-serif;}

.container{width: 95% !important; max-width: 95% !important; margin: auto; padding: 0px 15px;}

.homeSlider .item::after{content: ""; width: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.7); z-index: 50; height: 100%;}

.homeSlider .item img{animation: zoomInOut 20s infinite ease-in-out;}
 @keyframes zoomInOut {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); } /* zoom in */
      100% { transform: scale(1); }  /* zoom out */
    }